/* Custom Swiper arrows spacing */
.swiper-button-next,
.swiper-button-prev {
    top: 40%;
    width: 40px;
    height: 40px;
    color: black;
}

.swiper-button-prev {
    left: -20px;
}

.swiper-button-next {
    right: -20px;
}

/* Custom Pagination positioning */
.swiper-pagination {
    bottom: -20px !important;
    /* Pushes it further below */
    text-align: center;
}